<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>

  <li>
    <input type="checkbox" name="completed" <%= task.completed ? "checked" : "" %> />
    <%= link_to task.title, task_show_path(task) %></li>
  <% end %>
</ul>

<%= link_to "Create a new task", task_new_path %></li>
